/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-brand-primary: hsl(171, 66%, 44%);
  --clr-brand-secondary: hsl(233, 100%, 69%);
  --clr-text-highlight: hsl(210, 10%, 33%);
  --clr-text-body: hsl(201, 11%, 66%);
  --clr-bg-footer: #f5f6f8;
  --clr-text-button: hsl(100, 100%, 100%);
  --clr-border-button-primary: hsl(171, 63%, 35%);
  --clr-border-button-secondary: hsl(233, 49%, 51%);

  --ff-primary: "Bai Jamjuree", sans-serif;

  --fs-h1-lg: 2.75rem; /* 44px */
  --fs-h1-sm: 1.9375rem; /* 31px */
  --fs-h2-lg: 2.25rem; /* 36px */
  --fs-h2-sm: 1.75rem; /* 28px */
  --fs-h3: 1.4375rem; /* 23px */
  --fs-body-lg: 1.25rem; /* 20px */
  --fs-body-md: 1.125rem; /* 18px */
  --fs-body-sm: 1rem; /* 16px */

  --fw-bold: 600;
  --fw-regular: 400;

  --lh-title: 1.2;
  --lh-body: 1.6;

  --section-padding: 5rem;

  --br-button: 80px;

  --transition: 0.2s ease;

  --translationDistance: -3px;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-text-body);
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body);
}

h1,
h2,
h3 {
  color: var(--clr-text-highlight);
  font-weight: var(--fw-bold);
  line-height: var(--lh-title);
}

h1 {
  font-size: var(--fs-h1-sm);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--fs-h2-sm);
  margin-bottom: 1.25rem;
}

h3 {
  font-size: var(--fs-h3);
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Common */

.section-padding {
  padding: var(--section-padding) 0;
}

.section-container {
  margin: 0 auto;
  padding: 0 2.125rem;
}

.section-container-md {
  max-width: 48rem;
}

.section-container-lg {
  max-width: 72rem;
}

.section-intro {
  max-width: 43.75rem;
  margin: 0 auto;
  text-align: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 28.125rem;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 1rem 0;
  color: var(--clr-text-button);
  font-weight: var(--fw-bold);
  text-align: center;
  border-radius: var(--br-button);
  border-bottom: 3px solid;
  transition: transform var(--transition);
}

.button:hover,
.button:focus {
  transform: translateY(var(--translationDistance));
}

.button-ios {
  background-color: var(--clr-brand-primary);
  border-bottom-color: var(--clr-border-button-primary);
}

.button-mac {
  background-color: var(--clr-brand-secondary);
  border-bottom-color: var(--clr-border-button-secondary);
}

@media screen and (min-width: 48em) {
  .button-group {
    flex-direction: row;
  }

  .button-group > .button {
    flex: 1;
  }
}

@media screen and (min-width: 64em) {
  h1 {
    font-size: var(--fs-h1-lg);
  }

  h2 {
    font-size: var(--fs-h2-lg);
  }

  .section-description {
    font-size: var(--fs-body-md);
  }
}

/* Header */

header {
  padding: 7.5rem 0 5rem;
  background-image: url("images/bg-header-mobile.png");
  background-size: cover;
}

.header-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.header-intro {
  margin-bottom: 2.75rem;
}

@media screen and (min-width: 64em) {
  header {
    background-image: url("images/bg-header-desktop.png");
  }

  .header-description {
    font-size: var(--fs-body-lg);
  }
}

/* Snippet Tracking */

.snippet-tracking-intro {
  margin-bottom: 4.25rem;
}

.snippet-tracking-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.snippet-tracking-features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.snippet-tracking-feature {
  text-align: center;
}

.snippet-tracking-feature-title {
  margin-bottom: 0.875rem;
}

@media screen and (min-width: 48em) {
  .snippet-tracking-features {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

@media screen and (min-width: 75rem) {
  .snippet-tracking-container {
    max-width: 90rem;
  }

  .snippet-tracking-content {
    flex-direction: row;
    gap: 40px;
  }

  .snippet-tracking-image {
    transform: translateX(-4.25rem);
  }

  .snippet-tracking-features {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .snippet-tracking-feature {
    max-width: 21.875rem;
    text-align: left;
  }
}

/* Clipboard Access */

.clipboard-access-container {
  max-width: 56.25rem;
}

.clipboard-access-intro {
  margin-bottom: 4rem;
}

.clipboard-access-image {
  display: flex;
  justify-content: center;
}

/* Workflow */

.workflow-intro {
  margin-bottom: 5rem;
}

.workflow-tools {
  display: grid;
  grid-template-columns: 1fr;
  gap: 55px;
}

.workflow-tool {
  text-align: center;
}

.workflow-tool-image {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.workflow-tool-title {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 48em) {
  .workflow-tools {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

/* Used-by */

.used-by-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

@media screen and (min-width: 48em) {
  .used-by-list {
    flex-direction: row;
  }
}

/* Clipboard Download */

.clipboard-download {
  padding-bottom: calc(2 * var(--section-padding));
}

.clipboard-download-intro {
  margin-bottom: 2.75rem;
}

/* Footer */

footer {
  padding: 3rem 0;
  background-color: var(--clr-bg-footer);
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-logo {
  width: 3.5rem;
  height: 3.5rem;
}

.footer-menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-menu-link {
  display: block;
  color: var(--clr-text-highlight);
  font-weight: var(--fw-bold);
  text-align: center;
  transition: color var(--transition);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--clr-brand-primary);
}

.footer-social-links {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  gap: 35px;
}

.footer-social-link {
  display: block;
  transition: transform var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  transform: translateY(var(--translationDistance));
}

@media screen and (min-width: 48em) {
  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-menu-links {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 40px;
  }

  .footer-social-links {
    gap: 25px;
  }
}
